mat-card-content {
  display: flex;
  justify-content: space-evenly;

  img {
    max-width: 350px;
    max-height: 350px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

mat-card-actions {
  justify-content: flex-end;
}
