mat-card-header ::ng-deep * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-actions {
  justify-content: flex-end;
}

img {
  max-width: 370px;
  max-height: 277px;
}
